body {
    background-image: url("images/pattern-background-desktop.svg");
    background-color: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    border: solid #ccc 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    flex-direction: column;
}
.imgbox {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.container h2 {
    text-align: center;
    color: rgb(5, 5, 56);
    text-shadow: 1px 1px 3px #ccc;
}
.features {
    background-color: snow;
    width: 30%;
    border-radius: 12px;
}
.container p {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 3px rgb(173, 167, 167);
    color: rgb(78, 78, 85);
    letter-spacing: normal;
    font-size: 13px;
}

.audio {
    display:flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    padding-bottom: 13px;
    background-color: rgb(247, 239, 239) ;
}

.annualplan {
    position:absolute;
    left:560px;
    top:368px;
    width:100px;
    height:37px;
    z-index:7;
}

.price {
    position:absolute;
    left:567px;
    top:390px;
    width:37px;
    height:37px;
    z-index:7;
}

.audioicon {
    position:absolute;
    left:510px;
    top:380px;
    width:40px;
    height:40px;
    z-index:7;
}

.link2 {
    text-align:right;
    padding: 20px;
    color: blue;
    text-decoration: underline;
}

button {
    background-color: rgb(84, 11, 219);
    color: white;
    padding: 10px;
    width: 75%;
    border-radius: 12px;
    border: 0;
}

.button {
    text-align: center;
}

.link {
    text-align:center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: rgb(129, 125, 125);
    font-size: 11px;
    font-weight: bold;
}
